.chess-board {
  .chess-row {
    .chess-header {
      padding: 10px;
    }

    .chess-square {
      border: solid 1px;
      min-height: 100px;
      min-width: 60px;

      &.chess-square-black {
        background-color: #000;
        color: #fff;
      }

      &.chess-square-white {
        background-color: #fff;
      }

      &.selected {
        background-color: #c3c3c3;
      }
    }
  }
}
